<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Fee Summary - {{item.fullname}}
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="feeAdjustment(item)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      Previous Balance  :- Rs. {{feeSummary.prevdues}}
    </ion-item>
    <ion-item>
      Current Fee       :- Rs. {{feeSummary.curtotal}}
    </ion-item>
    <ion-item *ngIf="feeSummary.curpmt > 0">
      Current Payment   :- Rs. {{feeSummary.curpmt}}
    </ion-item>
    <ion-item *ngIf="feeSummary.curdsc > 0">
      Current Discount   :- Rs. {{feeSummary.curdsc}}
    </ion-item>
    <ion-item>
      Total Balance     :- Rs. {{feeSummary.prevdues + (feeSummary.curtotal - (feeSummary.curpmt + feeSummary.curdsc))}}
    </ion-item>

  </ion-list>

  <button ion-button color="secondary" (click)="goback()">Back</button>

  <button ion-button color="secondary" (click)="feeCollection(item)">Collection</button>

</ion-content>
